<h1>Lista pracowników</h1>
<span>Dział: </span>
<select>
  <option value="wszyscy" (click) = "changeSectionFilter('wszyscy')">Wszyscy</option>
  <option *ngFor="let section of sectionsList" value="{{ section.name}}" (click) = "changeSectionFilter(section.name)"> {{ section.name }}</option>
</select> 
<br><br><br><br><br>
<table>
  <tr>
    <td>Id:</td>
    <td>Imię:</td>
    <td>Nazwisko:</td>
    <td>Wiek:</td>
    <td>Stanowisko:</td>
    <td>Sekcja</td>
  </tr>
  <tr *ngFor="let employee of emploayeeList; let i= index" (click)="selectEmployee(i)">
      <td>{{employee.id}}</td>
      <td>{{employee.name}}</td>
      <td>{{employee.name2}}</td>
      <td>{{employee.age}}</td>
      <td>{{employee.description}}</td>
<td><p *ngIf="employee.section != null">{{employee.section.name}} </p></td>
    </tr>
</table>
<br>
<br>
<button routerLink="add_employee">Dodaj pracownika</button>